


<table class="table">
    <tr>
        <th>PractitionerRoleId</th>
        <th>Identifier</th>
        <th>PeriodStart</th>
        <th>PeriodEnd</th>
        <th>availableEndTime</th>
    </tr>
    <tr *ngFor='let practitionerRole of practitionerRoleArr$'
    (click)="selectPractitionerRole(practitionerRole)">
        <td>{{practitionerRole.id}}</td>
        <td>
            <p *ngFor='let identifier$ of 
            practitionerRole.identifier'>{{identifier$.value}}</p>
        </td>
        <td>
            <p>
                {{practitionerRole?.period.start}}
            </p>
        </td>
        <td>
            <p>
                {{practitionerRole?.period.end}}
            </p>
        </td>
        <td>
<!--             <p *ngIf='(practitionerRole.other!=null)'>{{other$.reference}}</p> -->
<!--             <p>{{practitionerRole.other$.reference}}</p> -->
<!--             <p *ngIf="(practitionerRole.other.reference!=null)"> -->
            <p *ngFor='let availableTime$ of 
            practitionerRole.availableTime'>       
                {{availableTime$.availableEndTime}}
            </p>      
        </td>
    </tr>
</table>

<button (click)="createPractitionerRole()" type="button" 
    class="btn btn-success">
    Neuen PractitionerRolen anlegen
</button>

<div *ngIf="(selectedPractitionerRole?.id!=null)">{{selectedPractitionerRole?.id}}
    <app-practitioner-role-details
    [id]="selectedPractitionerRole?.id"
    (practitionerRoleModified)="onPractitionerRoleModified($event)">
    </app-practitioner-role-details>
</div>
