<hr>
<h2>ResearchSubject {{researchSubject?.id}}</h2>
<form [formGroup]="researchSubjectForm" (ngSubmit)="onSubmitUpdate()">
    <ul class="list-group">
        <li class="list-group-item">
            ID:{{researchSubject?.id}}
        </li>

        <li class="list-group-item">
            <label>PE_START:
                <input formControlName="periodStart" type="datetime-local">
                PE_END:
                <input formControlName="periodEnd" type="datetime-local">
            </label>
        </li>

        <li class="list-group-item">
            <label>Datetime:
                <input formControlName="rsDatetime" type="datetime-local">
            </label>
        </li>

        <li class="list-group-item">
            <label>Display:
                <input formControlName="referenceDisplay" type="text">
            </label>
        </li>

</ul>

<div>
    <button (click)="deleteResearchSubject()" 
    type="button" class="btn btn-danger">
        ResearchSubject loeschen</button>
    <button (click)="onSubmitUpdate()" 
    type="button" class="btn btn-warning">
        Aenderungen speichern</button>
</div>