<hr>
<h2>Flag: {{flag?.id}}</h2>
<form [formGroup]="flagForm" (ngSubmit)="onSubmitUpdate()">
    <ul class="list-group">
        <li class="list-group-item">
            ID: {{flag?.id}}
        </li>

        <li class="list-group-item">
            <label>
                StatusCode:
                <select class="selectpicker" formControlName="status">
                    <option>all</option>
                    <option>between</option>
                    <option>never-do-that</option>
                </select>
            </label>
        </li>

        <li class="list-group-item">
                    <label>PE_START:
                        <input formControlName="periodStart" type="text">
                        PE_END:
                        <input formControlName="periodEnd" type="text">
                    <!-- https://stackoverflow.com/questions/43131082/fill-out-datetime-local-field-with-existing-localdatetime-object-in-jsp-using-sp -->
<!--                         <input formControlName="periodEnd" type="text"> -->
<!-- TODO: wenn ich eine qualification hinzufüge werden die nicht ins put json hinzugegeben -> sie verschwinden dann einfach wenn man den gleichen practitioner noch einmal aktualisiert -->
                    </label>
        </li>
        <li class="list-group-item">
            <label>
                Other: 
            </label>

                <a href='{{flag?.other?.reference}}'>{{flag?.other?.reference}}</a>
<!-- <input formControlName="reference" type="text" size="100" > -->
        </li>

</ul>

<div>
    <button (click)="deleteFlag()" type="button" class="btn btn-danger">
        Flagen loeschen</button>
    <button (click)="onSubmitUpdate()" type="button" class="btn btn-warning">
        Aenderungen speichern</button>
</div>
