<table class="table">
    <tr>
        <th>PractitionerID</th>
        <th>Name</th>
        <th>Identifier</th>
        <th>Gender</th>
        <th>Qualifications</th>
        <th></th>
    </tr>
    <tr *ngFor='let practitioner of practitionerArr$'
    (click)="selectPractitioner(practitioner)">
        <td>{{practitioner.id}}</td>
        <td>
            <p *ngFor='let name$ of practitioner.name'>
            {{name$.text}} </p>
        </td>
        <td>
            {{selectPractitioner?.id}}
            <p *ngFor='let identifier$ of 
            practitioner.identifier'>{{identifier$.value}}</p>
        </td>
        <td>
            <p>
                {{practitioner.gender}}
            </p>
        </td>
        <td>
            <p *ngFor='let qualification$ of 
            practitioner.qualification'
            >{{qualification$.id}}</p>
        </td>
    </tr>
</table>

<button (click)="createPractitioner()" type="button" 
    class="btn btn-success">
    Neuen Practitioner anlegen
</button>
    <!--Wird nur angezeigt,
        wenn selected Practitioner gesetzt ist und auch eine id hat-->
<div *ngIf="(selectedPractitioner?.id != null)">{{selectedPractitioner?.id}}
    <!--Die Practitioner Component,
        bekommt mit [id] die id vom aus gewählten
        Practitioner aus der Liste und liefert einen Event
        zurück,
        wenn der Practitioner editiert wurde-->
    <app-practitioner-details
    [id]="selectedPractitioner?.id"
    (practitionerModified)="onPractitionerModified($event)">
    </app-practitioner-details>
</div>