<table class="table">
    <tr>
        <th>ResearchSubjectId</th>
        <th>Datetime</th>
        <th>PeriodStart</th>
        <th>PeriodEnd</th>
    </tr>
    <tr *ngFor='let researchSubject of researchSubjectArr$'
    (click)="selectResearchSubject(researchSubject)">
        <td>{{researchSubject.id}}</td>
        <td>
            <p>
                {{researchSubject?.rs_datetime}}
            </p>
        </td>
        <td>
            <p>
                {{researchSubject?.period.start}}
            </p>
        </td>
        <td>
            <p>
                {{researchSubject?.period.end}}
            </p>
        </td>
    </tr>
</table>

<button (click)="createResearchSubject()" type="button" 
    class="btn btn-success">
    Neuen ResearchSubject anlegen
</button>

<div *ngIf="(selectedResearchSubject?.id !=null)">{{selectedResearchSubject?.id}}
    <app-research-subject-details
    [id]="selectedResearchSubject?.id"
    (researchSubjectModified)="onResearchSubjectModified($event)">
    </app-research-subject-details>
</div>
