
<table class="table">
    <tr>
        <th>FlagId</th>
        <th>Identifier</th>
        <th>Status</th>
        <th>Other</th>
    </tr>
    <tr *ngFor='let flag of flagArr$'
    (click)="selectFlag(flag)">
        <td>{{flag.id}}</td>
        <td>
            <p *ngFor='let identifier$ of 
            flag.identifier'>{{identifier$.value}}</p>
        </td>
        <td>
            <p>
                {{flag.status}}
            </p>
        </td>
        <td>
<!--             <p *ngIf='(flag.other!=null)'>{{other$.reference}}</p> -->
<!--             <p>{{flag.other$.reference}}</p> -->
<!--             <p *ngIf="(flag.other.reference!=null)"> -->
            <p>
                <a href='{{flag?.other?.reference}}'>{{flag?.other?.reference}}</a>
            </p>            
        </td>
    </tr>
</table>

<button (click)="createFlag()" type="button" 
    class="btn btn-success">
    Neuen Flagen anlegen
</button>

<div *ngIf="(selectedFlag?.id!=null)">{{selectedFlag?.id}}
    <app-flag-details
    [id]="selectedFlag?.id"
    (flagModified)="onFlagModified($event)">
    </app-flag-details>
</div>
