<hr>
<h2>Patient {{practitionerRole?.id}}</h2>
<form [formGroup]="practitionerRoleForm" (ngSubmit)="onSubmitUpdate()">
    <ul class="list-group">
        <li class="list-group-item">
            ID:{{practitionerRole?.id}}
        </li>

        <li class="list-group-item">
            <div formArrayName="identifier">
                <h3>Identifier</h3>
                <button (click)="addIdentifier()" type="button" class="btn btn-success">
                    Neuen Identifier anlegen
                </button>
            <div *ngFor="let identifier of idiArray.controls; let i=index">
                <div [formGroupName]="i">
                    <label> 
                        Value:<input formControlName="value"type="text"> 
                    </label>
                </div>
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <label>PE_START:
                <input formControlName="periodStart" type="datetime-local">
                PE_END:
                <input formControlName="periodEnd" type="datetime-local">
            </label>
        </li>

        <li class="list-group-item">
            <div formArrayName="availableTime">
                <h3>AvailableTime</h3>
                <button (click)="addAvailableTime()" type="button" class="btn btn-success">
                    Neuen AvailableTime anlegen
                </button>
            <div *ngFor="let availableTime of atArray.controls; let i=index">
                <div [formGroupName]="i">
                    <label> 
                        AvailableEndTime:<input formControlName="availableEndTime"type="text"> 
                    </label>
                </div>
            </div>
            </div>
        </li>
</ul>

<div>
    <button (click)="deletePractitionerRole()" 
    type="button" class="btn btn-danger">
        PractitionerRole loeschen</button>
    <button (click)="onSubmitUpdate()" 
    type="button" class="btn btn-warning">
        Aenderungen speichern</button>
</div>